.container {
    font-family: SF Distant Galaxy, sans-serif;
    font-weight: ;
    text-Align: center; 
    background-Color: black; 
    width: 2000px; 
    height: auto;
    margin: 0;
}
h1 {
    padding-top: 30px;
}

h2 {
    padding: 30px 0;
}

